<h1>Tasks</h1>
<% @tasks.each do |task| %>
  <input type="checkbox" id="<%= task.title %>" name="<%= task.title %>" <%= task.completed ? 'checked' : '' %>>
  <label for="<%= task.title %>"><a><%= link_to task.title, task_path(task.id) %></a></label>
<% end %>
